body {
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 16px;
}

.icon {
    display: block;
    height: 256px;
    width: 256px;
    margin: 0.25rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.5);
}

.link {
    color: #111;
    font-weight: bold;
    text-decoration: none;
}
.link:hover {
    color: #fff;
}

.nav {
    list-style: none inside;
    padding: 0.5rem;
    margin: 0;
}
.nav__item {
    padding: 0.5rem;
    display: inline-block;
    font-size: 1.4rem;
}
.nav__item-link {
    display: block;
}

.site-name {
    display: block;
    padding: 0.5rem 0.25rem 0.25rem;
}

.color1 {
    background: #666;
}
.color2 {
    background: #669;
}
.color3 {
    background: #693;
}
.color4 {
    background: #f93;
}
.color5 {
    background: #f39;
}
.color6 {
    background: #c30;
}
