body {
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 16px;
}

.logo {
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 640px) {
    .logo {
        width: 300px;
    }
}

.icon {
    display: block;
    height: 256px;
    width: 256px;
    margin: 0.25rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.5);
}

.link {
    color: #111;
    font-weight: bold;
    text-decoration: none;
}
.link:hover {
    color: #fff;
}

.nav {
    min-width: 260px;
    padding: 0.5rem;
    margin: 0;
}
.nav__row1 {
    display: inline;
}
.nav__row2 {
    display: inline;
}
.nav__row3 {
    display: inline;
}
.nav__item {
    margin: 0.25rem;
    padding: 0.5rem;
    display: inline-block;
    font-size: 1.4rem;
}
.nav__item-link {
    display: block;
}

.site-name {
    display: block;
    padding: 0.5rem 0.25rem 0.25rem;
}

@media only screen and (max-width: 1792px) {
    .nav__row3 {
        display: block;
        margin-bottom: 0.25rem;
    }
}
@media only screen and (max-width: 1024px) {
    .nav__row2 {
        display: block;
        margin-bottom: 0.25rem;
    }
    .nav__row3 {
        display: inline;
    }
}
@media only screen and (max-width: 640px) {
    .nav__row1 {
        display: block;
        margin-bottom: 0.25rem;
    }
}

.color1 {
    background: #666;
}
.color2 {
    background: #669;
}
.color3 {
    background: #693;
}
.color4 {
    background: #f93;
}
.color5 {
    background: #f39;
}
.color6 {
    background: #c30;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}